h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

#brush {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

#frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

#paints {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

/* This it the css from the original web design I did.  Again, I look forward to and feedback as I am still learning and wish to improve. 


h1 {
  color: #22132C;
  font-family:"Book Antiqua";
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  padding-top: 160px;
}

#main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  height: 200px;
  }

h3,
h2 {
  font-family: "Book Antiqua";
  color: #450171;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  color: #22132C;
}

body {
  background-color: #F5EEF8;
}

.price {
  font-weight: bold;
  color: #450171;
}


.pic2 {
  float: right;
  padding: 0 20px 20px 0;
  }

.pic1 {
  float: left;
  padding: 0 20px 20px 0;
}

.paint {
  float: left;
  align: top;
  padding: 0 20px 20px 0;
}

h2,
h3,
p,
#padding {
  padding-bottom: 20px;
}

.footer {
  background-color: #B065E0;
  height: 45px;
  width: 100%;
  text-align: center;
}
*/
